.order-time-container {
  display: flex;
  justify-self: center;
  align-items: center;
  gap: 0.7rem;
  width: 100%;
  .times-table {
    flex: 85%;
    .ant-table-wrapper {
      // display: none;
      .ant-spin-container {
        .ant-table {
          // width: 60%;
          .ant-table-container {
            .ant-table-content {
              max-height: 20rem;
              overflow-y: scroll;
              &::-webkit-scrollbar {
                width: 15px;
              }
              &::-webkit-scrollbar-track {
                border-radius: 10px;
                background: rgba(161, 160, 160, 0.05);
                margin-top: 10px;
                margin-bottom: 10px;
              }
              &::-webkit-scrollbar-thumb {
                border-radius: 20px;
                background: rgba(0, 0, 0, 0.2);
              }
              &::-webkit-scrollbar-thumb:hover {
                border-radius: 10px;
                background: rgba(23, 22, 22, 0.44);
              }
              table {
                .ant-table-thead {
                  tr {
                    th {
                      text-align: center;
                      // border: 1px solid;
                    }
                  }
                }
                .ant-table-tbody {
                  tr {
                    td {
                      text-align: center;

                      button {
                        span {
                          // display: none;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .selected-time {
    border: 1px solid cyan;
    .sunset_sunrise_icon {
      position: relative;
      left: 0.6rem;
      bottom: 0.5rem;
      // margin-left: 0.3rem;
      // display: none;
    }
  }
}
