.customer-card-btns-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  .cancel {
    background: rgba(128, 128, 128, 0.347);
    height: fit-content;
    &:hover {
      border: 0;
    }
    span {
      color: white;
      font-size: 1.5rem;
    }
  }
  .order {
    background: rgb(187, 160, 127);
    height: fit-content;
    &:hover {
      border: 0;
    }
    span {
      color: white;
      font-size: 1.5rem;
    }
  }
}
