.customer-infos-card-container {
  h5 {
    display: flex;
    justify-content: center;
    // font-family: "Arial";
    text-transform: uppercase;
    margin: 2rem 0;
    color: grey;
    text-decoration: underline;
    letter-spacing: 1px;
    font-size: larger;
  }
  .customer-infos-wrapper {
    .customer-infos-wrapper-grp1 {
      display: grid;
      // grid-template-columns: 1fr 1fr 1fr;
      grid-template-columns: 20% 55% 25%;
      row-gap: 3rem;
      column-gap: 1rem;
      padding-left: 1rem;
      div.guests-comp {
      }
      div.location-comp {
      }
      div.date-comp {
      }
    }
    .customer-infos-wrapper-grp2 {
      display: grid;
      grid-template-columns: 35% 65%;
      row-gap: 3rem;
      column-gap: 1rem;
      // border: 1px solid red;
      div.time-comp {
      }
      .add-food-input-and-list-comps {
      }
      div.food-comp {
      }
      div.add-comp {
        // border: 1px solid;
      }
    }
  }
}

.order-customer-card-modal {
  // margin-bottom: 250px;
  .ant-modal-content {
    // width: 100%;
    .ant-modal-header {
      .ant-modal-title {
        .order-customer-card-modal-header {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          .order-customer-card-modal-header-close-icon {
            button {
              height: fit-content;
              padding: 0;
              border: 0;
              img {
                // width: 45px !important;
                // height: 50px !important;
                // display: none;
                transform: scale(1.5);
              }
            }
          }

          span {
            // font-family: "sans-serif";
            font-size: 1.5rem;
          }
        }
      }
    }
    .ant-modal-body {
      .yes-no-btns {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        margin: 3rem 0;
        .cancel {
          background: rgba(128, 128, 128, 0.347);
          height: fit-content;
          &:hover {
            border: 0;
          }
          span {
            color: white;
            font-size: 1.5rem;
          }
        }
        .order {
          background: rgb(187, 160, 127);
          height: fit-content;
          &:hover {
            border: 0;
          }
          span {
            color: white;
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}
