.selected-food-container {
  .selected-food-list {
    // border: 1px solid;
    .selected-food-card {
      // display: none;
      .selected-food-single-card-grid-wrapper {
        display: inline-block;

        .selected-food-single-card-grid {
          padding: 1rem 0;
          width: fit-content;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 0.5rem;
          margin-bottom: 0.5rem;
          padding: 1rem;

          p {
            margin-right: 0.3rem;
            font-size: 1.2rem;
            color: rgb(187, 160, 127);
          }
          button {
            height: fit-content;
            padding: 0;
            border: 0;
          }
          &.disabled-grid-card {
            // display: none;
            // border: 1px solid red;
            background: gray;
            button {
              height: fit-content;
              padding: 0;
              border: 0;
              background: none;
            }
            p {
              color: white;
            }
          }
        }
      }
      &.ant-card {
        border: 0;
        .ant-card-head {
          border-bottom: 0;
        }
        .ant-card-body {
        }
      }
      &.start__dragging {
        &.ant-card {
          border: 0;
          .ant-card-head {
            border-bottom: 0;
          }
          .ant-card-body {
            overflow-x: scroll;
            // padding: 1rem;
            &::-webkit-scrollbar {
              width: 15px;
            }
            &::-webkit-scrollbar-track {
              border-radius: 10px;
              background: rgba(161, 160, 160, 0.05);
              margin-top: 10px;
              margin-bottom: 10px;
            }
            &::-webkit-scrollbar-thumb {
              border-radius: 20px;
              background: rgba(0, 0, 0, 0.2);
            }
            &::-webkit-scrollbar-thumb:hover {
              border-radius: 10px;
              background: rgba(23, 22, 22, 0.44);
            }
          }
        }
      }
    }
  }
}

.droppable-1 {
}
